%head
  %link{:rel => "stylesheet", :type=>"text/css", :href=>"lib/bootstrap/bootstrap/css/bootstrap.css"}
  %link{:rel => "stylesheet", :type=>"text/css", :href=>"application.css"}

  %script{:src => "js/jquery.js", :type => "text/javascript"}
  %script{:src => "lib/bootstrap/bootstrap/js/bootstrap.js", :type => "text/javascript"}

%body
  #content.container-fluid
    #header.row-fluid.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href=>"#"}
            %img{:src => "img/logo.png"}
          %ul#menu.nav.nav-pills.pull-right
            %li
              %a(href="#home") Accueil
            %li
              %a(href="#about"  ) Squid ?
            %li
              %a(href="#service") Service
            %li
              %a(href="#contact") Contact

    #home.row-fluid
      #demo-container.span12
        %h1 Lorem Ipsum
        %h2 Bla bla bla
        #buttons
          #demo-button Voir ntre demo
          #contact-button Nous contacter
    #about
    #service
    #contact