.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-dark.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0044cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #393939;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);
  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #262626;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #0c0c0c \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.large,
input[type="submit"].btn.large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.small,
input[type="submit"].btn.small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.inline-block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.inline-block {
  *display: inline;
}
@font-face {
  font-family: dinLight ;
  src: url("fonts/dinLight.ttf"), url("fonts/dinLight.otf");
}
h1,
h2,
h3 {
  font-weight: normal;
}
body {
  font-family: dinLight ;
  background: url('img/jewels.png') left top no-repeat, url('img/background.png') left top repeat;
  -webkit-background-size: 100%, auto;
  -moz-background-size: 100%, auto;
  -o-background-size: 100%, auto;
  background-size: 100%, auto;
}
body a {
  cursor: pointer;
}
body a:focus {
  outline: none !important;
}
body a:active {
  outline: none !important;
}
body #content {
  margin-top: 130px;
  padding: 0;
}
body #content #header.navbar .navbar-inner {
  background: url('img/header.png') left top repeat-x;
  -webkit-box-shadow: 0 5px 20px 1px #131313;
  -moz-box-shadow: 0 5px 20px 1px #131313;
  box-shadow: 0 5px 20px 1px #131313;
  height: 142px;
}
body #content #header.navbar .navbar-inner .brand {
  padding: 0;
  margin-left: -150px;
}
body #content #header.navbar .navbar-inner .container-fluid {
  position: relative;
}
body #content #header.navbar .navbar-inner .container-fluid #menu {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: inherit;
}
body #content #header.navbar .navbar-inner .container-fluid #menu li.active a {
  background: none transparent;
}
body #content #header.navbar .navbar-inner .container-fluid #menu li a {
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
body #content #header.navbar .navbar-inner .container-fluid #menu li a:hover {
  color: #9bdaf4;
}
body #content #home {
  text-align: center;
}
body #content #home h1 {
  margin-top: 110px;
  color: white;
}
body #content #home h2 {
  color: #9bdaf4;
  padding-top: 0.5em;
}
body #content #home #buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  margin-top: 100px;
  margin-bottom: 100px;
}
body #content #home #buttons a {
  background-color: #7b7b7b;
  background-image: -moz-linear-gradient(top, #676767, #9a9a9a);
  background-image: -ms-linear-gradient(top, #676767, #9a9a9a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#9a9a9a));
  background-image: -webkit-linear-gradient(top, #676767, #9a9a9a);
  background-image: -o-linear-gradient(top, #676767, #9a9a9a);
  background-image: linear-gradient(top, #676767, #9a9a9a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#9a9a9a', GradientType=0);
  border-color: #9a9a9a #9a9a9a #747474;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  height: 110px;
  width: 220px;
  vertical-align: middle;
  -webkit-border-radius: 120px 120px 0 0;
  -moz-border-radius: 120px 120px 0 0;
  border-radius: 120px 120px 0 0;
  -webkit-box-shadow: 0 0 20px 3px #131313;
  -moz-box-shadow: 0 0 20px 3px #131313;
  box-shadow: 0 0 20px 3px #131313;
  position: relative;
  padding: 0;
}
body #content #home #buttons a:hover,
body #content #home #buttons a:active,
body #content #home #buttons a.active,
body #content #home #buttons a.disabled,
body #content #home #buttons a[disabled] {
  background-color: #9a9a9a;
}
body #content #home #buttons a:active,
body #content #home #buttons a.active {
  background-color: #818181 \9;
}
body #content #home #buttons a span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 60%;
  margin-top: -1ex;
}
body #content #home #buttons a#contact-button {
  margin-top: 5px;
  background-color: #868686;
  background-image: -moz-linear-gradient(top, #9a9a9a, #676767);
  background-image: -ms-linear-gradient(top, #9a9a9a, #676767);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9a9a9a), to(#676767));
  background-image: -webkit-linear-gradient(top, #9a9a9a, #676767);
  background-image: -o-linear-gradient(top, #9a9a9a, #676767);
  background-image: linear-gradient(top, #9a9a9a, #676767);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a9a9a', endColorstr='#676767', GradientType=0);
  border-color: #676767 #676767 #414141;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 0 0 120px 120px;
  -moz-border-radius: 0 0 120px 120px;
  border-radius: 0 0 120px 120px;
}
body #content #home #buttons a#contact-button:hover,
body #content #home #buttons a#contact-button:active,
body #content #home #buttons a#contact-button.active,
body #content #home #buttons a#contact-button.disabled,
body #content #home #buttons a#contact-button[disabled] {
  background-color: #676767;
}
body #content #home #buttons a#contact-button:active,
body #content #home #buttons a#contact-button.active {
  background-color: #4e4e4e \9;
}
body #content #home #buttons a#contact-button span {
  top: 40%;
}
body #content #about .row-fluid {
  margin-top: 60px;
}
body #content #about .row-fluid .span4 {
  text-align: center ;
  color: white;
}
body #content #about .row-fluid .span4 .round {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 196px;
  width: 196px;
  background: #131313;
  margin-bottom: 30px;
  -webkit-border-radius: 96px;
  -moz-border-radius: 96px;
  border-radius: 96px;
  -webkit-box-shadow: 0 0 10px 3px #000000 inset;
  -moz-box-shadow: 0 0 10px 3px #000000 inset;
  box-shadow: 0 0 10px 3px #000000 inset;
}
body #content #about .row-fluid .span4 .round img {
  margin-top: 55px;
}
