Bonjour, 
%br/
%br/
merci de votre intérêt pour squid corp.
%br/
Nous avons bien reçu votre message, et y répondrons sous 24h.
%br/
%br/
À très bientôt !
%br/
%br/
L'équipe squid corp.
%br/
contact@squid-corp.com
%br/
06 50 49 81 74
%br/
http://www.facebook.com/squidcorp