%head
  %link{:rel => "stylesheet/less", :type=>"text/css", :href=>"css/application.less"}
  %script{:src => "js/less.min.js", :type => "text/javascript"}
%body
  #header
    %ul#menu
      %li
        %a(href="#home") Accueil
      %li
        %a(href="#about"  ) Squid ?
      %li
        %a(href="#service") Service
      %li
        %a(href="#contact") Contact
  #page
    #home
    #about
    #service
    #contact