

@import "bootstrap_overrides.css.less";
@import "twitter/bootstrap/mixins";
@import "picto.css.less";

/*@media (min-width: 1200px) {*/
  /*.brand{*/
    /*margin-left: -120px !important; //-150px*/
  /*}*/
  /*#menu{*/
    /*margin-right: 30px !important;*/
  /*}*/
/*}*/

@font-face{
  font-family: dinLight ;
  src: font-url("DinLight.ttf"), font-url("DinLight.otf") ;
}

h1,h2,h3{
  font-weight: 300;
  letter-spacing: 0.1ex;
}
.container{
  margin-top: 100px;
}
body{
  padding:0;
  position:relative;
  background: image-url('background_2.png') left top repeat;
  a {
    cursor: pointer;
    text-decoration: none !important;
    &:focus{
      outline: none !important;
      text-decoration: none !important;
    }
    &:active{
      outline: none !important;
    }
  }
  #header.navbar .navbar-inner{
    .brand{
      padding: 0;
      margin-left: -200px;
    }
    background: image-url('header.png') left bottom repeat-x;
    .box-shadow(none);
    .box-shadow(0 5px 20px 1px #131313);
    height: 99px;
    .container{
      margin-top: 0;
      position: relative;
      #menu {
        position: absolute;
        bottom: 15px;
        right: -10px;
        left: inherit;
        li{
          a{
            margin-left: 4ex;
            font-size: 20px;
            font-weight: 100;
            .transition(color 1s);
            &:hover{
              color: @grayLighter;
            }
          }
          &.active a {
            background: none transparent;
            color: @blue;
          }
        }
      }
    }
  }

  #home{
    margin-top: 97px;
    background: image-url('jewels.png') left top repeat-x;
    .background-size(cover);
    text-align: center;
    #titles{
      text-align: center;
      h1{
        margin-top: 100px;
        color: white;
      }
      h2{
        .inline-block();
        color: @blue;
        padding-top: 1em;
        padding-bottom: 3px;
        line-height: 30px;
        border-bottom: .5px solid @blue;
      }
    }
    #blue-vertical-line{
      clear: both;
      width: 50%;
      height: 80px;
      border-right: .5px solid @blue;
      position: relative;
      right: 1px;
    }
    #play-button{
      width: 200px;
      height: 200px ;
      .center-block();
      position:relative;
      bottom: 20px;
      cursor: pointer;
      i{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: image-url("lecture_base.png") left top no-repeat;
        &.blue{
          background-image: image-url("lecture_survol.png");
        }
      }
    }
    #watch-demo{
      margin-top: -20px;
      margin-bottom: 60px;
    }
  }
  #about, #service{
    .separator{
      .bar{
        border-bottom: 1px solid @grayLight;
      }
      span{
        background: image-url('background_2.png') left top repeat-x;
        padding: 0 15px;
        position: relative;
        bottom: 0.5ex;
        font-size: 20px;
      }
      text-align: center;
      padding-bottom: 10px;
    }
    .row{
      padding-top: 30px;
      .span4{
        .feature{
          &.center{
            .center-block();
          }
          &.left{
            float: left;
          }
          &.right{
            float: right;
          }
          text-align: center;
          position: relative;
          overflow: hidden;
          width: 235px;
          height: 225 + 20 + 40px;
          margin-bottom: 20px;
          .feature-slider{
            &:hover a.title{
              color: @white;
              text-shadow: 3px 3px 6px darken(#202020,30%);
            }
            &.opened a.title{
              color: @blue;
              text-shadow: 3px 3px 6px darken(#202020,30%);
            }
            .round{
              position: relative;
              color: @grayLight;
              i{
                position: absolute;
                left: 12.5px;
                top: 12.5px;
                width: 100%;
                height: 100%;
              }
            }
            a.title{
              .transition(text-shadow 1s);
              .transition(color 1s);
            }
          }
          .title{
            height: 40px;
            display:block;
            cursor: pointer;
            text-align: center;
          }
          .picto{
            height: 40px;

          }
          .description {
            text-align: center ;
            height: 186px;
            overflow-y: auto;
            p{
              margin: 1em;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  #contact{
    h3{
      margin-right: 50px;
      text-align: right;
      strong{
        font-weight: normal;
        color: @blue;
      }
    }
    .info-block {
      margin-right: 50px;
      margin-top: 26px;
      margin-bottom: 30px;
      font-size: 90%;
      text-align: right;
    }
    form{
      margin-right: 50px;
      float: right;
      label{
       color: @grayLight;
      }
      .submit{
        float: right;
        border: none;
        img { margin-left: 5px; margin-top: 6px; }
      }
      textarea{
        height: 140px;
      }
      input[type="text"], textarea{
        background: #202020;
        border: none;
        box-shadow: 1px 1px 2px 0 darken(#202020,30%) inset, 1px 1px 3px 0 #3a3a3a;
        color: @grayLight;
        width: 280px;
      }
      .success{
        color: @green;
        padding-top: 10px;
        margin-right: 10px;
        float: right;
      }
    }
    ul{
      margin-left: 50px;
      position: relative;
      bottom: 20px;
      li{
        padding: 12px 0;
        .round-icon{
          margin-right: 20px;
        }
        span{
          .inline-block();
        }
        .transition(color 1s);
        &:hover, &:hover a{
          color: @blue;
        }
      }
    }
    .round-icon{
      .mail     { margin-left: 5px; margin-top: 9px; }
      .phone    { margin-left: 5px; margin-top: 6px; }
      .plot     { margin-left: 5px; margin-top: 4px; }
      .tweeter  { margin-left: 3px; margin-top: 6px; }
      .facebook { margin-left: 9px; margin-top: 3px; }
      .vimeo    { margin-left: 4px; margin-top: 8px; }
    }
  }
}
.round-icon{
  position: relative;
  width: 42px;
  height: 42px;
  background: #202020;
  .border-radius(21px);
  .inline-block();
  box-shadow: 2px 1px 6px 0 darken(#202020,30%) inset, 2px 1px 6px 0 #3a3a3a;
  i{
    position: absolute;
    left: -3px;
    top: -3px;
    width: 100%;
    height: 100%;
  }
}
.round {
  .center-block();
  position: relative;
  cursor: pointer;
  height: 225px;
  width: 225px;
  background: #202020;
  margin-bottom: 20px;
  .border-radius(112px);
  box-shadow: 2px 1px 6px 0 darken(#202020,30%) inset, 2px 1px 6px 0 #3a3a3a;
  i{
    position: absolute ;
    left: 12.5px;
    top: 12.5px
  }
}


